@using VeiculosAntigos.Model;
@model IEnumerable<FabricanteDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 5);
}

<script type="text/javascript" src="~/Scripts/app/fabricante.js"></script>

<h2>Fabricantes de Veículos</h2>

<div class="grid">
    <div class="grid-toolbar">
        <button id="btnAdd" class="btn btn-primary" title="Adicionar Novo">Novo</button>
        <button id="btnRefresh" class="btn btn-primary" title="Atualizar">Atualizar</button>
    </div>

    @grid.GetHtml(columns: grid.Columns(
        grid.Column("Id", header: "Id", canSort: false, style: "col-md-4",
            format: @<text><span id="Id">@item.Id</span></text>),
        grid.Column("NomeFabricante", header: "Fabricante", canSort: true, style: "col-md-6",
            format: @<text><span id="NomeFabricante">@item.NomeFabricante</span></text>),
        grid.Column("Id", header: "Ações", canSort: false, style: "col-md-2",
            format:
            @<div>
                <button class="btn btn-primary btnEdit" onclick="VeiculosAntigosApp.Fabricante.EditOnClick(this)">Editar</button>
                <button class="btn btn-primary btnRemove" onclick="VeiculosAntigosApp.Fabricante.RemoveOnClick(this)">Excluir</button>
            </div>)
    ), htmlAttributes: new { @id = "tblFabricante" })
</div>

<div class="win" style="display:none;">
    <div class="win-frame">
        @Html.Partial("_form", new FabricanteDTO())
    </div>
</div>