@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Leandro S. F. Sousa</h3>

<address>
    Rua Frei Caneca, 235<br />
    São Paulo, SP<br />
    <abbr title="Fone">Fone:</abbr>
    (11) 97030-9329
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:leandro.sousa.br@gmail.com">leandro.sousa.br@gmail.com</a><br />
</address>