@{
    ViewBag.Title = "Coleção de Veículos Antigos";
}

<div class="jumbotron">
    <h1>Coleção de Veículos Antigos</h1>
    <p class="lead">Portal para controlar sua coleção de veículos antigos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como começar</h2>
        <p>
            Tenha um controle completo de sua coleção de veículos antigos através de nosso portal. Cadastre seus veículos, organizando-os por fabricante e tipo de veículo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manutenção da coleção</h2>
        <p>Tenha total flexibilidade para alterar os dados da sua coleção no portal sempre que precisar. O portal permite você incluir, alterar e excluir os dados do seu veículo.</p>
    </div>
    <div class="col-md-4">
        <h2>Informações Auxiliares</h2>
        <p>Você pode facilmente alterar os dados de sua coleção e das informações complementares como os fabricantes e o tipos de véiculos.</p>
    </div>
</div>